{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    <ul>
        {% for listing in user.watchlist.all %}
            <li>
                <ul>
                    <li>Title: <a href="">{{listing.title}}</a></li>
                    {% if listing.image != '' %}  <!-- check if the image exists before we try to display it -->
                        <li><img src="{{listing.image}}" height="100" width="100"></li>
                    {% endif %}    
                    <li><h5>Category: {{listing.category}}</h5></li>
                    <li><h5>Current Bid: {{listing.currentBid}}</h5></li>
                    <li>Description: {{listing.description}}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}